pydantic
email_validator
openai
langchain
langgraph
langchain-openai
langchain-anthropic
langchain-groq
langchain_ollama
pypdf
python-docx
pillow
google-genai
langchain-google-genai
exa-py 
requests
reportlab
python-dotenv
sqlalchemy 
chromadb 
sentence-transformers
fastapi
uvicorn
python-multipart



# -e .
